/* Reset default styles */
  .test {
    background-color: red;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    text-shadow: 0 4px 6px rgb(0, 0, 0);
    font-family: 'Rancho';
    margin: 0;
    text-align: center;
    padding: 0;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
  }
  
  /* Set the font and color scheme */
  .bodyi {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(73, 73, 73);
  }
  
  /* Give the header a fixed position and set the background color and font color */
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 20px;
  }
  
  /* Style the navigation links */
  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
  }
  
  /* Add a hover effect to the navigation links */
  a:hover {
    color: #ccc;
  }
  
  /* Style the main content area */
  main {
    margin: 30px auto;
    max-width: 400px;
    padding: 30px;
  }
  
  /* Style the product cards */
  .product-card {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgb(80, 255, 173);
    border-radius: 10px;
    border-width: 20px;
    height: fit-content;
    width: 500px;
    box-sizing:border-box;
  }
  
  /* Style the product images */
  .product-card img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }
  
  /* Style the product info */
  .product-card .product-info {
    padding: 40px;
    width: 100%;
  }
  
  /* Style the product name */
  .product-card .product-info h3 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  
  /* Style the product description */
  .product-card .product-info p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(172, 161, 161);
    margin-bottom: 20px;
  }
  
  /* Style the product price */
  .product-card .product-info{
    font-size: 18px;
    font-weight: bold;
    color: rgb(175, 86, 86);
  }
  
  /* Style the footer */
  footer {
    background-color: #333;
    color: rgb(173, 60, 60);
    padding: 20px;
    text-align: center;
  }